@import url(style-guide.css);

body {
    font-family: "Montserrat", sans-serif; 
    font-optical-sizing: auto; 
    font-weight: 400; 
    font-style: normal; 
    display: flex; 
    height: 110vh; 
    width: 100%;
    padding: 0; 
    margin: 0; 
    color: var(--white-primary); 
}

.left-side {
    background: var(--primary);
    color: var(--white-primary);
    padding: 80px; 
    width: 110%; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.inputs-curtos{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#ra {
    width: 50%
}

input {
    width: 100%; 
    padding: 18px; 
    border: 1px solid #dcdcdc;
    border-radius: 8px; 
    background-color: transparent; 
    color: var(--white-primary);
    box-sizing: border-box; 
    font-size: var(--font-size-p2); 
    margin-bottom: 15px; 
}

input::placeholder {
    color: var(--white-primary);
    opacity: 1; 
    font-family: "Montserrat", sans-serif; 
}

button {
    width: 100%; 
    padding: 8px; 
    background-color: var(--white-primary);
    color: var(--primary); 
    border: none; 
    border-radius: 20px; 
    cursor: pointer; 
    font-size: var(--font-size-b2); 
    font-weight: var(--font-weight-button); 
    box-sizing: border-box; 
}

img {
    display: flex; 
    align-items: flex-start; 
    justify-content: end;
    height: 100%; 
    border-radius: 20px 0 0 20px; 
    opacity: 1; 
    width: 100%; 
    margin-left: -10px; 
    background-color: var(--primary);

}
.right-side {
    display: flex; 
    align-items: center;
    flex-direction: r; 
    /* height: 100%;  */
    border-radius: 20px 0 0 20px; 
    opacity: 1; 
    width: 100%; 
    background-color: var(--primary);
}

select {
    width: 50%; 
    padding: 18px; 
    border: 1px solid #dcdcdc;
    border-radius: 8px; 
    background-color: transparent; 
    color: var(--white-primary);
    box-sizing: border-box; 
    font-size: var(--font-size-p2); 
    margin-bottom: 15px; 
  }
  
  select option {
    font-size: var(--font-size-p2);
    background-color: var(--primary);
    color: var(--white-primary);
  }